/* Estilo para el cuerpo del documento */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* Estilo básico para la barra de navegación */
nav {
    position: relative;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 30px;
}

nav ul li a {
    display: block;
    color: #333;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: 600;
    position: relative;
    transition: color 0.3s ease;
}

/* Estilo para el subrayado animado */
nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: #000;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Estilo para el menú desplegable */
nav ul li ul {
    display: none;
    position: absolute;
    background-color: white;
    padding: 0; /* Removido el padding para evitar problemas de altura */
    min-width: 250px;
    z-index: 1;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul li ul li {
    display: block;
    margin: 0; /* Removido el margen para controlar la altura correctamente */
    padding: 10px 20px;
}

nav ul li ul li a {
    padding: 10px 0;
    color: #333;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.3s ease;
}

nav ul li ul li a:hover {
    color: #000;
}

/* Mostrar el menú desplegable cuando se pasa el mouse por encima */
nav ul li:hover ul {
    display: block;
    overflow: hidden;
}

/* Estilo para el logo */
.logo {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    height: 70px;
}
