/* Estilo para la sección del carrusel */
.carousel-container {
    padding: 50px 0;
    background-color: #d3d0d0;
    text-align: center; /* Centrar el contenido dentro del contenedor del carrusel */
    position: relative;
}

.carousel-container h2 {
    position: absolute; /* Fija el título a una posición dentro de la sección del carrusel */
    top: 10px; /* Ajusta esta posición según sea necesario */
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin: 0;
    z-index: 10; /* Asegura que el título esté sobre otros elementos */
}

.carousel {
    width: 90%; /* Ajusta el ancho del carrusel para mejor presentación */
    margin: 50px auto 0 auto; /* Ajusta el margen superior para que el carrusel no cubra el título */
    display: flex; /* Alinea los elementos en una fila */
}

.carousel-slide {
    padding: 0 10px; /* Añade un pequeño espacio entre los slides */
    overflow: visible; /* Permite que el contenido expandido se muestre */
    position: relative;
    flex: 1; /* Hace que todos los slides tengan el mismo tamaño */
    transition: transform 0.3s ease-in-out; /* Suaviza la transición de la transformación */
}

.vehicle-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, height 0.3s ease-in-out; /* Suaviza la transición de la transformación */
    margin-bottom: 20px; /* Agrega un espacio hacia abajo de las tarjetas */
}

.vehicle-card img {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor del slide */
    height: 300px; /* Mantén la altura uniforme */
    object-fit: cover; /* Asegura que la imagen cubra el espacio disponible sin deformarse */
    display: block; /* Asegura que la imagen se comporte como un bloque */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.vehicle-description {
    background-color: rgba(0, 0, 0, 0.85); /* Fondo oscuro semi-transparente */
    color: white;
    padding: 30px;
    box-sizing: border-box;
    height: 0; /* Altura inicial cero, oculta */
    overflow: hidden; /* Oculta el contenido cuando la altura es cero */
    transition: height 0.5s ease-in-out; /* Transición suave para la altura */
    border-bottom-left-radius: 10px; /* Mantiene el borde redondeado en la descripción */
    border-bottom-right-radius: 10px; /* Mantiene el borde redondeado en la descripción */
}

.vehicle-description h3 {
    margin: 0;
    font-size: 19px;
}

.vehicle-description p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    visibility: hidden; /* Oculta el contenido inicialmente */
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease-in-out; /* Suaviza la transición de la opacidad */
}

/* Elimina el efecto de agrandado */
/*
.carousel-slide:hover .vehicle-card {
    transform: scale(1.05); 
} */


/* Elimina el efecto de difuminado */
/*
.carousel-slide:not(:hover) .vehicle-card {
    filter: blur(5px); 
    opacity: 0.5; 
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
*/
